{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Cadastro de Palestras{% endblock %}

{% block conteudo %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cadastro de palestras</h5>
                    <p class="card-text">
                        Complete o formulário abaixo para cadastrar
                        uma nova <code>Palestra</code>.
                    </p>
                    <form method="post">
                        <!-- Não se esqueça dessa tag -->
                        {% csrf_token %}

                        <!-- Nome -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Título</span>
                            </div>
                            {% render_field form.titulo class+="form-control" %}
                        </div>

                        <!-- Sobrenome -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Descrição</span>
                            </div>
                            {% render_field form.descricao class+="form-control" %}
                        </div>

                        <!-- CPF -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Aprendizado</span>
                            </div>
                            {% render_field form.aprendizado class+="form-control" %}
                        </div>

                        <!-- Tempo de Serviço -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Data de Início</span>
                            </div>
                            {% render_field form.data_inicio class+="form-control" %}
                        </div>

                        <!-- Remuneração -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Data final</span>
                            </div>
                            {% render_field form.data_fim class+="form-control" %}
                        </div>

                        <!-- Nome -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Servidor</span>
                            </div>
                            {% render_field form.servidor class+="form-control" %}
                        </div>

                        <button class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}